version: '3.8'

services:
  web:
    image: nginx
    ports:
      - "8080:80"
    volumes:
      - ./app:/usr/share/nginx/html
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
